/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #75f4fd, #1a3c6b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}